%h1 Home#index
%p Find me in app/views/home/index.html.haml

- @users.each do |user|
  %p= link_to user.username, user

%h3= link_to t(:expenses), expenses_path, { title: 'expenses' }
%h3= link_to t(:incomes), incomes_path, { title: 'incomes' }
