.row
  .span10.page-header
    = link_to incomes_path do
      %h2.span2.inline Incomes
    - if current_user.admin?
      = link_to t(:new), new_income_path, { class: "span2 offset4 inline btn btn-primary", id: "new_income" }
    - else
      .span2.offset4.inline.btn.btn-primary.disabled= t(:new)

= render "index_items"
