.row
  .span10.page-header
    = link_to expenses_path do
      %h2.span2.inline Expenses
    = link_to t(:new), new_expense_path, { class: "span2 offset4 inline btn btn-primary", id: "new_expense" }

= render "index_items"
